<footer class="my-4 border-t border-black/10 py-md">
  <div class="mx-auto w-full max-w-6xl px-4 sm:px-6 lg:px-8">
    
    <ul class="mb-sm flex flex-wrap justify-center gap-x-sm gap-y-2">
      <li>
        <a href="./acerca-de.html" class="px-2 text-small text-dark/60 hover:text-dark">
          Acerca de
        </a>
      </li>
      <li>
        <a href="./registro.html" class="px-2 text-small text-dark/60 hover:text-dark">
          Regístrate
        </a>
      </li>
    </ul>

    <p class="text-center text-small text-dark/60">
      &copy; Universitat Oberta de Catalunya
    </p>
  </div>
</footer>