<section id="valores" class="sds-section bg-white">
    <div class="sds-container bg-white py-24 px-8 mx-auto max-w-7xl">
        <section class=" mx-auto mb-lg space-y-xs text-center">
        <h2 class="font-serif text-title font-semibold leading-title tracking-title text-brand-primary ">
            Nuestros valores
        </h2>
        <p class="leading-body text-dark/80">
            Tres pilares que guían cada jornada de <strong>Sabores de siempre</strong>.
        </p>
        </section>

        <div class="grid gap-md tablet:grid-cols-3 tablet:gap-lg">
        <article class="rounded-md py-12 bg-[var(--color-brand-pr-light)] p-md shadow-sm ring-1 ring-black/5">
            <h3 class="font-serif text-center text-subtitle font-semibold text-brand-primary">
            Comunidad y memoria
            </h3>
            <p class="mt-xs text-center leading-body text-dark/80">
            Promovemos encuentros donde las personas puedan compartir sus recetas, anécdotas y trucos de cocina, manteniendo viva la memoria de familias, barrios y pueblos.
            </p>
        </article>

        <article class="rounded-md py-12 bg-[var(--color-brand-pr-light)] p-md shadow-sm ring-1 ring-black/5">
            <h3 class="font-serif text-center text-subtitle font-semibold text-brand-primary">
            Cocina accesible y cercana
            </h3>
            <p class="mt-xs text-center leading-body text-dark/80">
            Creemos que cualquiera puede aprender a cocinar platos tradicionales con buenos ingredientes, explicaciones claras y un ambiente sin juicios ni competitividad.
            </p>
        </article>

        <article class="rounded-md py-12 bg-[var(--color-brand-pr-light)] p-md shadow-sm ring-1 ring-black/5">
            <h3 class="font-serif text-subtitle font-semibold text-brand-primary text-center">
            Cuidado del producto local
            </h3>
            <p class="mt-xs text-center leading-body text-dark/80">
            Damos protagonismo a productores locales, mercados de proximidad y recetas que respetan la estacionalidad, para cuidar tanto la salud como el entorno.
            </p>
        </article>
        </div>
    </div>
</section>